## <span id="{{anchor}}"></span> `{{name}}`

An Indexer is a smart contract to discover trading parties by token pair.

`{{{natspec.title}}}`

The indexer contract deployed to the AirSwap network may have some administrative privileges. Specifically, AirSwap does maintain a token blacklist which disallows certain tokens from being added and queried through the Indexer. In addition, setLocatorWhitelist which dictates what interface if any locators must follow is also maintained by AirSwap.

{{{natspec.userdoc}}}

{{{natspec.devdoc}}}


{{#if modifiers}}
### Modifiers
{{#modifiers}}
- [`{{name}}({{args}})`][{{{anchor}}}]
{{/modifiers}}
{{/if}}

### Functions

{{#ownFunctions}}
### <span id="{{anchor}}"></span> `{{name}}({{args}}){{#if outputs}} → {{outputs}}{{/if}}` ({{visibility}})

{{{natspec.userdoc}}}

{{{natspec.devdoc}}}
{{#if natspec.params}}
| Param             | Description       |
{{#each natspec.params}}
{{#if @first}}
| ----------------- | :------------    |
{{/if}}|`{{param}}`|{{description~}}{{#raw}}|{{/raw}}{{/each}}{{/if}}

{{#if natspec.returns}}
## Returns
|  Param    | Description   |
{{#each natspec.returns}}
{{#if @first}}
|   ---------| :------------ |
{{/if}}| `{{param}}`|  {{description~}}{{#raw}}|{{/raw}}{{/each}}{{/if}}

{{/ownFunctions}}

### Events

{{#events}}
- [`{{name}}({{args}})`][{{{anchor}}}]
{{/events}}


{{#ownEvents}}
### <span id="{{anchor}}"></span> `{{name}}({{args}})`
{{/ownEvents}}