## <span id="{{anchor}}"></span> `{{name}}`

`{{{natspec.title}}}`

{{{natspec.userdoc}}}

{{{natspec.devdoc}}}

### Features

**Authorizations** are for peers that trade on behalf of others. These peers are authorized by an individual to send or sign orders for them. Peers can be wallets (people or programs) or smart contracts.

**Affiliates** are third-parties compensated for their part in bringing together the two parties of a trade, and can be other traders or software applications that connect traders on the network.

{{#if modifiers}}
### Modifiers
{{#modifiers}}
- [`{{name}}({{args}})`][{{{anchor}}}]
{{/modifiers}}
{{/if}}

### Functions

{{#ownFunctions}}
#### <span id="{{anchor}}"></span> `{{name}}({{args}}){{#if outputs}} → {{outputs}}{{/if}}` ({{visibility}})

{{{natspec.userdoc}}}

{{{natspec.devdoc}}}
{{#if natspec.params}}
| Param             | Description       |
{{#each natspec.params}}
{{#if @first}}
| ----------------- | :------------    |
{{/if}}|`{{param}}`|{{description~}}{{#raw}}|{{/raw}}{{/each}}{{/if}}


{{#if natspec.returns}}
## Returns
|  Param    | Description   |
{{#each natspec.returns}}
{{#if @first}}
|   ---------| :------------ |
{{/if}}| `{{param}}`|  {{description~}}{{#raw}}|{{/raw}}{{/each}}{{/if}}

{{/ownFunctions}}

### Events

{{#events}}
- [`{{name}}({{args}})`][{{{anchor}}}]
{{/events}}


{{#ownEvents}}
### <span id="{{anchor}}"></span> `{{name}}({{args}})`
{{/ownEvents}}