## <span id="{{anchor}}"></span> `{{name}}`


Wrapper is a shim over the Swap contract. The Swap contract only supports tokens, so for ether (ETH) to be used it must first be wrapped into WETH. Orders can be submitted to the Wrapper, which deals with the wrapping and unwrapping of ETH, as well as passing the Order onwards to the Swap contract. Swaps through the wrapper cannot be performed with authorized senders or blank signatures (See Swap for more detail on these cases). View the code on GitHub.

`{{{natspec.title}}}`


{{{natspec.userdoc}}}

{{{natspec.devdoc}}}

{{#if modifiers}}
### Modifiers
{{#modifiers}}
- [`{{name}}({{args}})`][{{{anchor}}}]
{{/modifiers}}
{{/if}}

### Functions

{{#ownFunctions}}
### <span id="{{anchor}}"></span> `{{name}}({{args}}){{#if outputs}} → {{outputs}}{{/if}}` ({{visibility}})

{{{natspec.userdoc}}}

{{{natspec.devdoc}}}
{{#if natspec.params}}
| Param             | Description       |
{{#each natspec.params}}
{{#if @first}}
| ----------------- | :------------    |
{{/if}}|`{{param}}`|{{description~}}{{#raw}}|{{/raw}}{{/each}}{{/if}}

{{#if natspec.returns}}
|  Param    | Description   |
{{#each natspec.returns}}
{{#if @first}}
|   ---------| :------------ |
{{/if}}| `{{param}}`|  {{description~}}{{#raw}}|{{/raw}}{{/each}}{{/if}}

{{/ownFunctions}}

{{#if events}}
### Events
{{/if}}

{{#events}}
- [`{{name}}({{args}})`][{{{anchor}}}]
{{/events}}


{{#ownEvents}}
### <span id="{{anchor}}"></span> `{{name}}({{args}})`
{{/ownEvents}}

| Preconditions                                                              |
| :------------------------------------------------------------------------- |
| ✓ makerWallet must approve the Swap contract to transfer the makerToken.   |
| ✓ takerWallet must approve the Swap contract to transfer the takerToken.   |
| ✓ takerWallet must approve the Wrapper contract to transfer WETH.          |
| ✓ takerWallet must authorize the Wrapper contract to on the Swap contract. |

---

| Revert Reason                     | Scenario                                                                   |
| :-------------------------------- | :------------------------------------------------------------------------- |
| `MSG_SENDER_MUST_BE_ORDER_SENDER` | Order has been sent by an account that is not the order's `sender.wallet`. |
| `SIGNATURE_MUST_BE_SENT`          | The signature field is blank. This is not allowed on the Wrapper.          |
| `VALUE_MUST_BE_SENT`              | No ETH was provided for an order that was expecting ETH to wrap.           |
| `VALUE_MUST_BE_ZERO`              | ETH was provided for an order that was not expecting ETH to wrap.          |